---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';
@import 'syntax_highlighter';


.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
  margin-right:20px;
}

.tag {
  text-decoration: none;
}

// .tag::before {
//   background: #fff;
//   border-radius: 10px;
//   box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
//   content: '';
//   height: 6px;
//   left: 10px;
//   position: absolute;
//   width: 6px;
//   top: 10px;
// }

// .tag::after {
//   background: #fff;
//   border-bottom: 13px solid transparent;
//   border-left: 10px solid #eee;
//   border-top: 13px solid transparent;
//   content: '';
//   position: absolute;
//   right: 0;
//   top: 0;
// }

// .tag:hover {
//   background-color: crimson;
//   color: white;
// }

// .tag:hover::after {
//    border-left-color: crimson; 
// }


.archives .catalogue-item,.tag .catalogue-item  {
    display:inline-block;
    padding:1px 0;
}
.archives .catalogue-line {
    border-top: 0.1rem solid #353535;
}
.tag .catalogue-line {
  border-top: 0.1rem solid #353535;
  width:0;
}

.tag:hover .catalogue-line, .tag:focus .catalogue-line {
  width: 100%;
}

.tag i{
  margin-right:2px;
}